/* import google font */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(rgb(34, 129, 167), rgb(240, 236, 236)); 
    /* background-image: url( images/bg1.jpg); 
    background-repeat: no-repeat;
    background-size: cover; */
    /* https://images.unsplash.com/photo-1586603328377-f23a9d85fa35?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80 */
    
    /* background: rgb(2, 41, 100); */
}
.container{
 background-color: rgb(247, 250, 253);
 width: 400px;
 border-radius: 7px;
 border: 2px solid rgb(5, 57, 78);
 box-shadow: 0 10px 16px  0 #888888;
}

.container header{
    font-size: 21px;
    color: rgb(56, 183, 241);
    font-weight: 500;
    padding: 16px 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #bfbfbf;
}

header i{
    cursor: pointer;
    font-size: 0px;
    margin-right: 8px;
}
.container.active header i{
    font-size: 30px;
    margin-left: 5px;
}
.container .input_part{
    margin: 20px 25px 30px;
    /* display: none; */
}
.container.active .input_part{
    display: none;
}

.input_part :where(input, button) {
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 7px;
}

.input_part input{
  border: 1px solid #bfbfbf;
  text-align: center;
}
 .input_part input:is(:focus, :valid){
     border: 2px solid #43AFFC;
 }
.input_part button{
    color: #fff;
    background: #43AFFC;
    cursor: pointer;
}
.input_part .info_txt{
    display: none;
   font-size: 17px;
   text-align: center;
   padding: 12px;
   border-radius: 7px;
   margin-bottom: 15px;
}
.info_txt.error{
    display: block;
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}
.info_txt.pending{
    display: block;
    color: #0c5460;
    background: #d1ecf1;
    border: 1px solid #bee5eb;
}
.input_part .separator{
    height: 1px;
    width: 100%;
    background: #CCC;
    margin: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.separator::before{
    content: "or";
    color: #ccc;
    font-size: 19px;
    padding: 0 15px;
    background: #fff;
}

.container .weather_part{
    margin: 30px 0 0;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container.active .weather_part{
    display: flex;
}
.weather_part img{
    max-width: 125px;
}
.weather_part .temp{
    display: flex;
    font-size: 72px;
    font-weight: 500;
}
.weather_part .temp .numb{
    font-weight: 600;
}
.weather_part .temp .deg{
    font-size: 40px;
    margin: 10px 5px 0 0;
    display: block;
}
.weather_part .weather{
    font-size: 21px;
    text-align: center;
    margin: -5px 20px 15px;
}
.weather_part .location{
    display: flex;
    align-items: center;
    font-size: 21px;
    margin-bottom: 30px;
}
.location i{
   font-size: 22px;
   margin-right: 5px;
}
.weather_part .bottom_details{
    
    width: 100%;
    display: flex;
    align-items: center;
     justify-content: space-between; 
    border-top: 1px solid #bfbfbf;
}
.bottom_details .column{
    width: 100%;
    display: flex;
    padding: 15px 0;
    align-items: center;
    justify-content: center;
    
}
.column i{
    color: #43AFFC;
    font-size: 40px;
}

.column.humidity{
    border-left: 1px solid #bfbfbf;
}
.details .temp, .humidity span{
    font-size: 18px;
    font-weight: 500px;
    margin-top: -3px;
}

.details .temp .deg{
    margin: 0;
    font-size: 17px;
    padding : 0 2px 0 1px; 
}
.details p{
    font-size: 14px;
    margin-top: -2px;
}










